*{
    padding:0;
    margin:0;
    }
    
    body{
    height:100vh;
    width:100vw;
    font-size:20px;
    background:#000000;
    display:grid;
    place-content:center;
    gap:2rem;
    }

    .contenedor{
    height:10rem;
    width:20rem;
    justify-self: center;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto;
    place-content:center;
    gap:1rem;
    }

    .boton{
    height:3rem;
    width:3rem;
    border-radius:.2rem;
    display:grid;
    place-content:center;
    cursor:pointer;
    }

    .parrafo{
    font-size:1.7rem;
    font-family:sans-serif;
    }

    .texto{
    color:#eea63a;
    font-family:sans-serif;
    }
    
    .boton-w{
    grid-column:1/4;
    justify-self: center;
    background:#eea63a;
    border:1px solid #eea63a;
    }
    
    .boton-a{
    background:#bb0404;
    border:1px solid #bb0404;
    transform:translateX(.2rem);
    }
    
    .boton-s{
    background:#eea63a;
    border:1px solid #eea63a;
    transform:translateX(.2rem);
    }
    
    .boton-d{
    background:#db6f09;
    border:1px solid #db6f09;
    transform:translateX(.2rem);
    }

    
    @keyframes movimiento {
        0%{
        
        }
        20%{
        transform:translateX(1px);
        }
        40%{
        transform:translateX(-3px);
        }
        60%{
        transform:translateX(3px);
        }
        80%{  
        transform:translateX(-3px); 
        }
        100%{
        transform:translateX(3px);
        }
    }
    
    .accion{
    animation:movimiento;
    animation-duration:.5s;
    background:#000;
    }
